.menuItem {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    padding-bottom: 50px;
    border-bottom: 1px solid rgb(190, 182, 182);
}

.itemDescription {
    width: 70%;
}

.itemDescription > p {
    color: rgb(136, 125, 125);
}

.itemImage > img {
    width: 100px;
    height: 100px;
    background: transparent;
    border-radius: 10px;
}

.itemImage > div {
    position: relative;
    left: 50%;
    bottom: 28px;
    transform: translateX(-50%);
    z-index: 1;
}
