.menu {
    display: block;
}

.restaurantInfo {
    display: block;
    margin: auto;
    text-align: center;
}

.menuContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 90%;
    margin: 0 auto;
}

.menuContainerAccr {
    width: 60%;
    margin: 30px auto;
    padding: 20px;
}
